html{ height: 100%;}
*{
    margin: 0;
    padding: 0;
}

/* ESTO ES EL NAVEGADOR */

.navegador ul li{
    background-color: #ebebeb;
    font-size: 20px;
    text-align: center;
    list-style: none;
    word-spacing: 5px;
    height: 25px;
    width: 195px;
    display: inline-block;
    padding: 10px;
    border: solid white 4px;
    border-radius: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 12px;


}

.navegador{
    background-color: #6cb8b3;
    text-align: center;
    height: 80px;
    padding: 25px;
}

.cajatexto{
    height: auto;
    width: 80%;
    background-color: #bbb7b2;
    text-align: center;
    padding: -10px;
    color: #beb09b;
    font-size: 50px;
    border: 40px;
    border-radius: 40px;
    margin: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: 620px;
}

.cajatexto img{

    width: 16%;
    height: auto;
    border-radius: 20px;
    position: relative;
    left: -34%;
    top:95px;
}

.p1{
    padding: 10px;
    color: #346573;
    text-align: center;
    position:relative;
    left: 14%;
    top: -360px;
    font-size: 170%;
    font-weight: bold;
}

.p2{
    padding: 10px;
    color: #346573;
    text-align: center;
    position:relative;
    left:13%;
    top:-300px;
    font-size: 68%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    text-align: center;
    padding: 20px;
    background-color: #b6dde7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a{
    text-decoration: none;
}

footer{
    background-color: #6cb8b3; 
    color: #fff; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px; 
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
}

.imagenfooter{
    width: 30px;
    height: 30px;
    border: solid black 2px;

}

footer p{
    font-size: 20px; 
    margin: 0; 
}

.textodp{
    padding: 10px;
    color: #346573;
    text-align: center;
    position:relative;
    left:13%;
    top:-340px;
    font-size: 73%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    max-height: 120px;
}

.imagen-datos{
    width: 19%;
    height: auto;
    border-radius: 10px;
    position: relative;
    left: -34%;
    top:100px;
}

.textocompetencias{
    padding: 10px;
    color: #346573;
    text-align: center;
    position:relative;
    left:13%;
    top:-210px;
    font-size: 73%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    max-height: 160px;
}

.textoeducacion{
    padding: 10px;
    color: #346573;
    text-align: center;
    position:relative;
    left:13%;
    top:-210px;
    font-size: 53%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 150px;
}

.cajatextoeducacion{
    height: 460px;
    width: 90%;
    background-color: #b7aea5;
    text-align: center;
    padding: -10px;
    color: #7d8185;
    font-size: 50px;
    border: 40px;
    border-radius: 40px;
    margin: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: 620px;
}

.cajatextoeducacion img{
    width: 16%;
    height: auto;
    border-radius: 20px;
    position: relative;
    left: -36%;
    top:95px;
}

.textoexperiencia{
    padding: 10px;
    color: #346573;
    text-align: center;
    position:relative;
    left:13%;
    top:-280px;
    font-size: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textoexperiencia2{
    padding: 10px;
    color: #346573;
    text-align: center;
    position:relative;
    left:13%;
    top:-270px;
    font-size: 53%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textofooter{
    text-align: center;
    flex-grow: 1;
}

body{
    background-image: url(https://media.discordapp.net/attachments/1154568158414377053/1155886771587010710/abstract-minimalist-background-modern-background-design-wave-liquid-shapes-composition-creative-templates-fit-for-presentation-design-website-basis-for-banners-wallpapers-brochure-free-vector.png?width=866&height=577);
    background-repeat: no-repeat;
    background-size: cover;
}

.logolinkedin{
    width: 10%;
    height: 10%;
}